body{
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
    font-family: 'Barlow Condensed', sans-serif;
}
.header-section{
    background-image: url('images/bannner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 150px 300px;
}
.header-section h1 {
    font-size: 50px;
    color:white;
}
.header-section p{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.754);
}
.header-section button{
    border: none;
    outline: none;
    padding: 15px 40px;
    margin-top: 100px;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    cursor: pointer;
    background:tomato;
}
}
.header-section button:hover{
    padding: 8px 28px;
    background-color: rgb(140, 87, 3);
    color: white;
    border: none;
}
.taka-box{
    height: 80px;
    width: 100px;
    background-color: bisque;
    text-align: center;
    margin-left: 30px;
   
}
.taka-section{
    display: flex;
    margin-top: 70px;
    padding-left: 150px;
}
.taka-box h3{
   padding-top: 10px;
}
.donate-section{
    padding: 150px 300px;
    text-align: center;
}
.button{
    border: none;
    outline: none;
    padding: 15px 40px;
    margin-top: 100px;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    cursor: pointer;
    background:tomato;
}
.input{
    width: 100%;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid rgb(1, 1, 1);
    

}

.taka-box1{
    height: 80px;
    width: 100px;
    background-color: bisque;
    text-align: center;
    margin-left: 30px;
    color: rgb(219, 10, 10);
    border: 2px solid red;
   
}
.donate-p{
    padding: 20px 350px;
    text-align: center;
}
.donate-plan{
    text-align: center;
}
.icon{
    height: 40px;
}
.plan-section{
    display: flex;
    padding: 40px 100px;
}
.donate{
    margin-left: 30px;
    background-color: rgb(4, 132, 132);
    padding: 20px 40px;
    color: white;
}
.donate1{
    margin-left: 30px;
    background-color: rgb(72, 43, 2);
    padding: 20px 40px;
    color: white;
}
.donate2{
    margin-left: 30px;
    background-color: rgb(155, 55, 4);
    padding: 20px 40px;
    color: white;
}

.div1{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left:150px;
    
  
}
.half-width img{
    width: 80%;
    
}


.half-width h1{
    font-size: 40px;
}
.h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 20px;
}
.email-section{
    background-color: blanchedalmond;
   margin: 20px 300px;
}
.input-inner{
    padding: 80px 100px;
    display: flex;
}
.inputt{
height: 30px;
width: 80%;
border: none;
}
.but{
    background-color: red;
    color: white;
    border: none;
}

/* footer section css start */
footer{
    background-color: black;
    color: white;
    padding: 50px 200px;
    margin-top: 50px;
}
.cls1{
    text-align: center;
}